*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    font-weight: 600;
    padding: 1rem 4rem;
    background-color: rgb(35, 45, 56);
    color: rgb(255, 145, 0);
  }
  a{
    color: unset;
    text-decoration: none;
  }
  .nav-icon{
    display: flex;
    gap: 1rem;
    align-items: center;
    filter: blur(0.6px);
  }
  .nav-icon img{
    width: 8%;
    height: 8%;
    filter: grayscale(0.57);
  }
  .container{
    width: 90%;
    margin: auto;
    padding: 4rem 0 ;
  }
   .home-content  {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
   .home-content h1 , h2{
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color:rgb(35, 45, 56);
    font-size: 22px;
   }
  main .logo{
    font-size: 2rem;
  }
  .home-first-box{
    margin:0.1rem auto;
    padding: 0.1rem;
   }
  .home-first-box p{
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    width: 60%;
    margin: auto;
    line-height: 2rem;
  }
  .home-first-box p span {
    color: rgb(68, 0, 15);
  }
  .home-content-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: rgb(255, 145, 0);
  }
  .lin{
    width: 100%;
    height: 0.8rem;
    margin:2rem  auto;
    background-color:rgb(68, 0, 15);
    border-radius: 4rem;
  }
  .home-content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    color: rgb(255, 145, 0);
  }
  .img-cont{
    display: flex;
    padding: 0.5rem;
    width: 90%;
    /* height: 40%; */
  }
   .img-cont .img-slidr{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    margin: auto;
    width: 80%;
    /* height: 25rem; */
    padding: 0.5rem;
    /* background-color:rgba(255, 187, 98, 0.8) ; */
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.apiContent-container{
  width: 90%;
  padding: 1rem;

  /* background-color: rgb(35, 79, 83);
 padding: 0.2rem;
 margin: 1rem auto;
 border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; */
}
 
.apiContent{
  width: 80%;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.4rem auto;
  text-align: center;
  gap: 0.4rem ;
  background-color:rgb(19, 61, 64);
  border: 2px solid rgb(255, 129, 20);
  border-radius: 1rem;
  color: rgb(90, 36, 42);
  font-size: 22px;
}
.apiContent .span  , .apiContent span{
  color: sandybrown;
  padding: 1rem;
  font-weight: 600;
}
.apiContent h3 {
  color: rgb(221, 171, 185);
  padding: 1rem;
}
.apiContent p{
  color: rgb(191, 231, 217);
  font-weight: 700;
  width: 90%;
  margin:  0 0 2.6rem 0;
  padding: 0rem 1rem 2.5rem 1rem;
  border-bottom: 4px solid rgb(216, 182, 180) ;
}

  .img-slider-img{
    border-radius: 2rem;
    border: 2px solid  rgb(255, 145, 0) ;
  }
  .home-content-2 img{
    width: 100%;
    height: 100%;
    height: 25rem;
    border-radius: 0.5rem;
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  img.active {
    display: block;
  }

  .btns{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }
   .btns  button{
    text-transform: capitalize;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    background-color:rgb(68, 0, 15);
    color: rgb(255, 145, 0);
    cursor: pointer;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  .btns .stop , #stop {
    background-color:rgb(255, 145, 0) ;
    color:rgb(68, 0, 15)  ;
  }
 
 #stopApi{
          background-color:rgb(238, 161, 60);
            color:rgb(57, 40, 43) ;
    }
  .btns .next , .btns .prev{
    color: rgb(245, 169, 184) !important;
    font-weight: bolder;
  }
  footer{
    width: 100%;
    height: 3rem;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 45, 56);
    color: rgb(245, 169, 184);
    position: fixed;
    bottom: 0;
    left: 0;
  }
  