*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: aqua; */
  /* color: tomato; */
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  font-weight: 600;
  padding: 1rem 4rem;
  /* margin: 2rem 0rem ; */
  /* position: fixed; */
  /* top: 0; */
  /* z-index: 1; */
  background-color: rgb(35, 45, 56);
  color: sandybrown;
}

a{
  text-decoration: none;
  color: unset;
}

.container{
  width: 90%;
  margin: auto;
  padding: 4rem 0 ;
}



 .home-content  {
  /* background-color: skyblue; */
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: brown;
  gap: 4rem;
}
 .home-content h1{
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(73, 129, 129);
  font-size: 22px;
 }
main .logo{
  font-size: 2rem;
}

/*   /////////////////// 2 - 1  */

.home-content-1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: orange;
  background-color: rgb(150, 150, 52);
}
.box1{
  width: 7rem;
  height: 8rem;
  background-color: slateblue;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

/* ////////////////////////////2-2 */
.home-content-2{
    display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 80%;
      background-color: rgb(118, 97, 69);
  /* width: 20%; */
  /* height: 20%; */
  padding: 1rem;
  color: rgb(87, 176, 167);
}

/* .home-content-2 .img-cont{
  display: flex;
  background-color: yellowgreen;
  padding: 1rem;
} */

.home-content-2 .img-cont .img-slidr{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
   width: 30%;
    height: 30%;
    background-color: antiquewhite;
    padding: 2rem;
}

.home-content-2 img{
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.home-content-2 .btns{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.home-content-2 .btns  button{
  text-transform: capitalize;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: rgb(57, 60, 86);
  color: rgb(221, 159, 14);
  cursor: pointer;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}




footer{
  width: 100%;
  height: 3rem;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 45, 56);
  color: sandybrown;
  position: fixed;
  bottom: 0;
  left: 0;
}